* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#game > div > div {
  width: 100%;
}

.menubg--title {
  position: relative;
  width: 100%;
  height: 100vh;
}

.menubg--title .sky {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menubg--title .valley {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: top center;
  filter: blur(5px);

  transition: transform 3s;
  transition-timing-function: linear;
}

@keyframes titleIntro {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}

.menubg--title .title {
  z-index: 2;
  position: absolute;
  bottom: 48%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 100px;
  overflow: visible;

  transition: bottom 2s, width 2s, transform 1s;
}

.menubg--title .title h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  animation-name: titleIntro;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  filter: blur(2px);
  user-select: none;

  transition: font-size 2s;
}

.menubg--title .cliffs {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53%;
  object-fit: cover;
  object-position: bottom center;

  transition: transform 1s;
  transition-timing-function: linear;
}

.menubg--title.down .cliffs,
.menubg--title.down .valley {
  transform: translateY(100%);
}

.menubg--title.down .title {
  width: 40%;
  bottom: calc(100% - 100px);
}

.menubg--title.down .title h1 {
  font-size: 70px;
}

.fadein {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

@keyframes fadeInWhite {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadein--white {
  background-color: #FFF;
  animation-name: fadeInWhite;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.menu--title {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

@keyframes btnIntro {
  from {
    transform: translateX(calc(100% + 20px));
  }
  to {
    transform: translateX(0);
  }
}

.menu--title button {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 15px;
  border: solid 2px transparent;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #FFF;
  text-align: left;
  cursor: pointer;
  animation-name: btnIntro;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  transform: translateX(calc(100% + 20px));

  transition: border-color 0.15s, margin-right 0.35s, background-color 0.35s, opacity 1s, visibility 1s;
}

.menu--title button:hover {
  margin-right: 15px;
  border-color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu--title.off button {
  opacity: 0;
  visibility: hidden;
}

.menu--title button:last-of-type {
  margin-bottom: 0;
}

.menu--title button img {
  margin-right: 15px;
}

.last-update {
  z-index: 10;
  position: fixed;
  bottom: 10px;
  left: 10px;
  text-align: left;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  
  transform: translateY(calc(100% + 10px));
  transition: transform 2s, opacity 1s, visibility 1s;
  transition-delay: 9s;
}

.last-update.off {
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
}

.last-update.on {
  transform: translateY(0);
}

.last-update:hover > div {
  margin-left: 15px;
  border-color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
}

.last-update header {
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 20px;
}

.last-update > div {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  border: solid 2px transparent;
  border-radius: 20px;
  font-family: sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.85);

  transition: border-color 0.15s, margin-left 0.35s, background-color 0.35s;
}

#avatar {
  width: 60px;
  height: auto;
  border-radius: 100%;
  margin-right: 10px;
  border: solid 2px #FFF;
}

#message {
  font-size: 24px;
  margin-bottom: 5px;
}

#update-time {
  font-size: 18px;
  margin-bottom: 10px;
}

#author {
  font-size: 18px;
  padding: 3px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
}

#credits {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(20px);
  user-select: none;

  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

#credits.on {
  opacity: 1;
  visibility: visible;
}

#credits > div {
  width: 350px;
  min-height: 100%;
  color: #FFF;
  font-size: 24px;
  font-family: sans-serif;
  transform: translateY(100%);

  transition: none;
}

#credits.on > div {
  transition: transform 20s;
  transition-timing-function: linear;
  transition-delay: 1s;
  transform: translateY(-100%);
}

#credits > div p {
  margin: 40px 0;
  line-height: 1.5em;
}

#map-select {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
  overflow-y: scroll;

  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}

#map-select.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

#map-select button {
  position: relative;
  width: calc(33% - 20px);
  height: 300px;
  margin: 0 10px 20px 10px;
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  transition: border-color 0.35s, background-color 0.35s;
}

#map-select button:hover {
  border-color: #FFF;
  background-color: rgba(255, 255, 255, 0.5);
}

#map-select button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  opacity: 0.75;
  pointer-events: none;

  transition: opacity 0.35s, transform 0.5s;
}

#map-select button:hover img {
  opacity: 1;
  transform: scale(1.05);
}

#map-select button label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 25px;
  border-top-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  color: #000;
  font-family: sans-serif;
  font-size: 26px;
  pointer-events: none;

  transition: background-color 0.35s;
}

#map-select button:hover label {
  background-color: #FFF;
}

#map-select > div {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

#btn-title {
  z-index: 100;
  position: fixed;
  bottom: calc(100% - 100px);
  right: 40px;
  padding: 15px 25px;
  border: 0;
  border-radius: 20px;
  background-color: #FFF;
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  transform: translateX(calc(100% + 40px));
  transition: transform 0.5s, background-color 0.35s;
  transition-delay: 2s;
}

#btn-title:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#btn-title.on {
  transform: translateX(0);
}

/* Player select screen */
#player-select {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

#player-select.open {
  opacity: 1;
  visibility: visible;
}

#profile-player {
  z-index: 1;
  position: absolute;
  left: -200px;
  bottom: -100px;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

#profile-computer {
  z-index: 1;
  position: absolute;
  right: -200px;
  bottom: -100px;
  width: 50%;
  height: 100%;
  object-fit: contain;
  filter: hue-rotate(90deg);
}

.radial-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.85)
  );
}

.character-btns {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-btns > div {
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.characters {
  display: flex;
  flex-direction: column;
}

.characters button {
  width: 130px;
  height: 130px;
  position: relative;
  margin-bottom: 20px;
  border: solid 8px transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  opacity: 0.5;
  transition: opacity 0.35s, border-color 0.35s;
}

.characters button:last-of-type {
  margin-bottom: 0;
}

.characters.computer button {
  /* cursor: not-allowed; */
}

.characters button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.characters.player button.selected {
  border-left-color: #0000FF;
  opacity: 1;
}

.characters.computer button.selected {
  border-left-color: #FF0000;
  opacity: 1;
}

.characters button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.characters.computer button img {
  filter: hue-rotate(90deg);
}

#player-info,
#computer-info {
  z-index: 3;
  position: absolute;
  width: 600px;
  bottom: 0;
  padding: 40px;
  font-family: sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
}

#player-info {
  left: 0;
  border-top-right-radius: 20px;
}

#computer-info {
  right: 0;
  border-top-left-radius: 20px;
  text-align: right;
}

#player-info header,
#computer-info header {
  font-size: 62px;
  letter-spacing: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.character-btns .center-panel {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#btn-start-match {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px #FFF;
  border-radius: 100%;
  background-color: transparent;
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transition: background-color 0.5s, width 0.5s, height 0.5s, border-radius 0.5s, opacity 2s, visibility 2s;
}

#btn-start-match.open {
  opacity: 1;
  visibility: visible;
}

#btn-start-match.go {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #FFF;
  cursor: unset;
}

#btn-start-match * {
  pointer-events: none;
}

#btn-start-match img {
  width: 62px;
  height: 62px;
}

/* Game over screen */
#game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  text-align: right;
  color: #FFF;
  font-family: sans-serif;

  transform: scale(2);
  transition: transform 0.5s;
}

#game-over.show {
  transform: scale(1);
}

#loser-profile {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 300px;
  height: auto;
  transform: translate(-50%, 25px);
  filter: blur(3px);
  pointer-events: none;

  transition: transform 1s;
}

#loser-profile.panned {
  transform: translate(calc(-50% - 100px), 25px);
}

#winner-profile {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, 50px);
  pointer-events: none;

  transition: transform 1s;
}

#winner-profile.panned {
  transform: translate(calc(-50% - 250px), 50px);
}

#winner-profile.npc {
  filter: hue-rotate(90deg);
}

#loser-profile.npc {
  filter: blur(3px) hue-rotate(90deg);
}

#blur-filter {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(50px) grayscale(50%);

  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s, background-color 2.4s;
}

#blur-filter.peek {
  background-color: rgba(255, 255, 255, 0.85);
}

#blur-filter.off {
  visibility: hidden;
  opacity: 0;
}

#game-over header {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: left;
  user-select: none;

  opacity: 0;
  transition: opacity 2s;
}

#game-over.show header {
  opacity: 1;
}

#winner-name {
  margin-top: 10px;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#game-stats {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  user-select: none;

  transform: translateX(100px);
  opacity: 0;

  transition: width 1s, transform 1s, opacity 1s;
}

#game-stats.on {
  width: 50%;
  transform: translateX(0);
  opacity: 1;
}

#game-stats > div {
  width: 33%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  color: #FFF;
  overflow: visible;
  white-space: nowrap;
}

#game-stats > div img {
  width: auto;
  height: 70px;
  margin: auto 0;
}

#game-stats > div span {
  font-size: 36px;
}

#game-stats > div label {
  font-weight: 900;
  font-size: 24px;
}

#btn-next-match {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
  padding: 20px;
  border: solid 2px #FFF;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 0.35s;
}

#btn-next-match:hover {
  background-color: rgba(255, 255, 255, 1);
}

#btn-next-match * {
  pointer-events: none;
}

#btn-next-match img {
  margin-left: 10px;
}